html, body {
    font-family: 'Play', sans-serif;
    position: relative;
    overflow: hidden;
    background-color: transparent !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0 0 50px 0;
    font-size: 14px;
    color: #fdfdfd;
    user-select: none;
}

#wrapper {
    position: absolute;
    top: 10px;
    left: 100px;
    box-sizing: border-box;
    display: none;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(19, 19, 19, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 5px;
}

#header {
    padding-top: 5px;
    text-align: center;
}

.header_desc {
    color: yellow;
    text-align: center;
}

.btnClose {
    position: absolute;
    right: 10px;
    border: none;
    font-size: 1.0em;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: rgba(255, 0, 0, 0.3);
    color: #fdf9ec;
    border-radius: 5px;
    float: right;
}

.paramHead {
    text-align: center;
    font-size: 16px;
    margin: 16px 0 8px 0;
}

.paramSet {
    text-align: center;
}

.pValue {
    position: relative;
    display: inline-block;
    width: 45px;
    text-align: center;
    background: white;
    color: black;
    margin: 0 5px;
    padding: 2px;
    font-size: 16px;
}

.pMinus, .pPlus {
    display: inline-block;
    font-size: 18px;
    margin: 0 2px;
    text-align: center;
    padding: 0 8px;
    border-radius: 5px;
}

.pMinus {
    background-color: rgba(255, 0, 0, 0.3);
}

.pMinus:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.pPlus {
    background-color: rgba(0, 255, 0, 0.2);
}

.pPlus:hover {
    background-color: rgba(0, 255, 0, 0.4);
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.saveBtn {
    display: block;
    padding: 5px;
    text-align: center;
    background: rgba(255, 165, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(19, 19, 19, 0.37);
    border: 1px solid rgba(255, 165, 0, 0.9);
    border-radius: 5px;
    margin: 25px 10px;
}

.saveBtn:hover {
    background: rgba(255, 165, 0, 0.9);
}

.saving, .saving:hover {
    background: rgba(73, 181, 31, 0.7);
    border: 1px solid rgba(57, 159, 46, 1);
}
